// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
// color-default = #444
// color-gray = #999
// color-border = #e3e3e3
// color-navy = hsl(210, 25%, 12%)
// color-link = #0e83cd
// color-link-hover = lighten(color-link, 10%)

// // 默认配色
// color-default = rgb(255,69,0)
// // color-gray = rgb(189,183,107)
// // 灰色
// color-gray = rgb(240,230,140)
// // 边框
// color-border = #e3e3e3
// // 背景
// color-navy = rgb(255,140,0)
// 
// // 链接配色
// color-link = rgb(255,99,71)
// color-link-hover = lighten(color-link, 10%)

// // 默认配色
// color-default = rgb(255, 144, 0)
// // 灰色
// color-gray = rgb(191, 155, 48)
// // 边框
// color-border = rgb(255, 145, 64)
// // 背景
// color-navy = rgb(255, 108, 0)
// // 链接配色
// color-link = rgb(255, 49, 0)
// color-link-hover = lighten(color-link, 10%)


// 默认配色
color-default = rgb(255, 69, 0)
// 灰色
color-gray = rgb(6, 123, 159)
// 边框
color-border = rgb(137, 0, 67)
// 背景
color-navy = rgb(255, 161, 0)
// 链接配色
color-link = rgb(255, 41, 0)
color-link-hover = lighten(color-link, 10%)

// Typography
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Monaco, Menlo, Consolas, monospace
font-title = Lato, font-sans
font-size = 15px
line-height = 1.6em

// Layout
max-width = 1200px
gutter-width = 20px
sidebar-width = 220px
mobile-nav-width = 260px

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
mq-tablet = "screen and (min-width: 480px)"
