layout: index
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bug
      h3.intro-feature-title 与Bug兄打交道良久~ o(*￣▽￣*)o
      p.intro-feature-desc 熟悉VS、VSCode、Vim、Sublime等软件的安装/卸载技巧，掌握C/C++、Lua、Python、JavaScript等单词的常规拼写方式，CS弱鸡症患者
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bicycle
      h3.intro-feature-title 世界那么大，总想去看看QAQ
      p.intro-feature-desc 希望足迹可以遍布大江南北，目前只是到过广西北海、湖南岳麓书院、张家界、广东清远古龙峡等地方，果然还是太弱鸡了23333
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-music
      h3.intro-feature-title 杂食的音乐路人甲
      p.intro-feature-desc 音乐无国界啦，本人尤爱中国风，喜欢在KTV里鬼哭狼嚎O(∩_∩)O
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-gamepad
      h3.intro-feature-title 挂念着小霸王、街机的游戏爱好者OMG
      p.intro-feature-desc 现在还玩的只有QQ飞车来着0.0，偶尔在模拟器上玩玩拳皇、热血格斗、风卷残云什么的
